*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color:#000;
    background:  #000 url("./images/memecoin.png") no-repeat left top;
}

main{
    color: #cfc6c6;
    max-width: 60%;
    margin: auto;
}

.logo{
    max-width: 80px;
    max-height: auto;
}

header nav{
    /* max-width: 100%; */
    display: flex;
    justify-content: space-between;
    /* position: fixed;
    top: 0;
    left: 20%;
    right: 20%;
    z-index: 2; */
    /* background-color: #cfc6c6; */
    align-items:center;
    /* margin-bottom: 20px; */
}

nav .topnav{
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    gap: 1em;
}

nav .topnav li{
    list-style-type: none;
}

nav .topnav a{
  text-decoration: none;
  color: #f3f7ff;
  padding: 0.5em 0.5em;
  font-weight: 500;
  transition: color 0.4s ease;
}

nav .topnav a:hover{
    text-decoration: underline;
    color: #ebab04;
}

.topnav .action-btn{
    background-color: #ebab04;
    border-radius: 2em;
    padding: 1em 1em;
    font-size: 0.8em;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.topnav .action-btn:hover{
   color: #f3f7ff;
   scale: 1.05;
}

.topnav .action-btn:active{
    scale: 0.95;
}

/* Hide the link that should open and close the topnav on small screens */
.nav-togglebtn{
    font-size: 2rem;
    color: #cfc6c6;
    border: none;
    background: transparent;
    cursor: pointer;
    display: none;
  }

.hero-container, .about-container, .contact-container{
    display: flex;
    flex-direction: row;
    margin: 4em 0;
}

.welcome{
    max-width:50%;
    height:auto;
    font-size: 1.4em;
    margin-right: 20%;
    flex:50%;
}

.welcome h1{
    min-width: 6.5em;
    max-width: 6.5em;
    font-size: 2.3em;
}

.welcome .colour{
    font-size: 0.8em;
}

.colour, .about-text h2{
    color:#cb9401;
    padding-bottom: 1em;
}

.welcome p, .contact-text p{
    min-width: 100%;
    max-width: 100%;
    padding: 1em 0 0.5em 0;
}

.small{
    padding: 2em 0;
    font-size: 0.6em;
}

.hero-container button{
    color: #f3f7ff;
    background-color: #ebab04;
    background-image: linear-gradient(to right, #ebab04 , #cb8032);
    border-radius: 20px;
    padding: 1em 2.5em;
    border: none;
    margin: 2em 0.2em 2em 0em;
}

.hero-container button:last-child{
    padding: 1em 3em;
}

.kitten{
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    flex:50%;
}

 .kitten img{
    min-width: 100%;
    min-height: 100%;
}

/* Tokenemic section starts here */
.text{
    text-align: center;
    padding-top: 2.5em;
}

.text h4{
    font-family: "Monda", sans-serif;
}

.text h1{
    font-size: 2em;
}

.slider{
    appearance: none;
    -webkit-appearance: none;
    background-color: skyblue;
    height: 0.4em;
    max-width: 6em;
    outline:none;
    border-radius: 0.2em;
    margin-top: 2em;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #ebab04;
    max-width: 1em;
    height: 1em;
    border-radius:1em ;
    cursor: pointer;
}

.border-design{
    background-color: #db9141;
    border-radius: 5px 0 30px 0;
    height: 50px;
    width: 10%;
    float: inline-start;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 3em 0;
}

.column{
    flex: 30%;
    max-width: 32%;
    margin-top: 1em;
    color:#000;
    background-color: #f3f7ff;
    text-align: center;
    border-radius: 5px;
    height: 500px;
}

.column .figure{
    max-width: 80%;
    max-height: 60%;
    padding-top: 1.5em;
    margin: auto;
}

.column img{
    max-width: 80%; height: 100%; /* so it wont stretch more than it max.width */
    vertical-align: bottom; /*To align image to text*/
    /* border: 1px solid red; */
}

.figcaption h3{
padding: 1.5em 0;
}

.figcaption {
    max-width: 100%;
    max-height: 50%;
    padding: 0 2.5em;
}

.moneybag {
    background-color: #ebab04;
    background-image: linear-gradient(to right, #ebab04 , #cb8032);
}

.moneybag .figcaption{
    color: #f3f7ff;
    padding: 0 1.5em;
}
.moneybag img{
    max-width: 60%;
}

.about-text{
    max-width: 50%;
}

.about-text p{
    font-size: 1.2em;
    padding: 1em 0;
}

.roadmap-column{
    color: #f3f7ff;   
    background-color: transparent;
    height: 400px;
}

.roadmap .figure img{
    max-width: 100px;
    max-height: auto;
    vertical-align: middle;
    margin-left: 2em;
}

.number{
    border: 1px solid #fff;
    border-radius: 1.5em;
    padding:0.4em 0.7em;
}

.roadmap .figcaption{
    font-size: 1.1em;
}

.roadmap .colour{
    margin-left: 0.5em;
}

.contact-text h1{
    /* min-width: 10em; */
    max-width: 12em;
    font-size: 2.3em;
}

.contact-text{
    max-width: 60%;
    font-size: 1.2em;
    align-content: center;
    margin-right: 5%;
}

.contact-text button{
    background-color: #eb6f53;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    color: #f3f7ff;
    margin: 2em 0.5em 0 0;
}

.call-to-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    text-align: center;
 }
 
 .mini-kitten{
     width: 200px;
     height: 200px;
     margin-bottom: 1em;
 }
 .mini-kitten img{
    max-width: 100%;
    max-height: 100%;
 }
 
 .fa-brands{
     display: inline-block;
     padding: 0.5em;
     margin: 1em 0.5em;
     border-radius:1em;
     background-color: #d09801;
 }

 footer{
    display: flex;
    flex: 50%;
    padding: 2% 15%;
    color: #000;
    background-color: #f3f7ff;
    justify-content: space-between;
}

footer ul a{
    text-decoration: none;
    color: #000;
    margin-left: 1em;
}

footer ul a:hover{
    text-decoration: underline;
}

  /*Tablet & Mobile styles for topnav*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1280px) {
        .topnav-container{ 
        position: relative;
    }
    .topnav{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
    }

    .topnav li{
        width: 100%;
    }

    .topnav li a{
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 8em 1em 8em;
        border-top: 1px solid #cb8032;
    }

    .nav-togglebtn{
        display: inline-block;
        }
        
        #nav-toggle-close{
        display: none;
      }

}

  /*Mobile styles for responsive layout*/
@media screen and (max-width: 600px) {
    .column{
        flex: 100%;
        max-width: 100%;
    }

    .about-container{
        flex-direction: column;
        flex:100%;
    }

    .hero-container, .contact-container, footer{
        flex-direction: column-reverse;
        flex:100%;
    }

    .welcome, .kitten, .about-text, .contact-text{
         max-width:100%;
         margin-top: 1em;

    } 
    .welcome h1, .about-text h2, .contact-text h2{
        margin: auto;
        text-align: center;
    }

    .hero-container button{
        margin: 1em 0;
    }
}


